---
import LayoutVersus from "../../layouts/LayoutVersus.astro";

const post = await fetch(
  "https://www.versus.com.py/wp-json/api/astro/featured",
).then((res) => res.json());

function sanitizeString(str: any) {
  return str
    .normalize("NFD") // Normaliza la cadena a Unicode Normalization Form D (NFD)
    .replace(/[\u0300-\u036f]/g, "") // Elimina los acentos
    .replace(/[^a-zA-Z0-9\s]/g, "-") // Reemplaza caracteres no alfanuméricos por guiones
    .replace(/\s+/g, "-") // Reemplaza espacios por guiones
    .replace(/-+/g, "-") // Reemplaza múltiples guiones consecutivos por uno solo
    .toLowerCase(); // Convierte la cadena a minúsculas
}
---

<LayoutVersus>
  <!-- {JSON.stringify(post)} -->

  <div
    class="bg-white custom-width flex flex-col items-center shadow-lg rounded"
  >
    <div class="flex w-full mb-4 mt-8">
      <div
        class="bg-blue-200 rounded-xl ml-2 p-4 fixed-height flex-shrink-0 relative"
        style="width: 851px;"
      >
        <h1></h1>
        <div
          class="bottom bottom-0 left-0 bg-black bg-opacity-50 text-white p-4 rounded-b-lg"
        >
          <div class="badge">FÚTBOL PARAGUAYO</div>
          <div></div>
        </div>

        <!-- Contenido del contenedor izquierdo -->
      </div>
      <div
        class="bg-green-200 rounded-xl p-4 fixed-height flex-shrink-0 ml-4"
        style="width: 273px;"
      >
        <!-- Contenido del contenedor derecho -->
      </div>
    </div>

    <div class="grid grid-cols-4 gap-[1.2rem] w-full mb-8 pl-2 pr-2">
      {
        post.map((item: any, index:any) => {
          let slug = sanitizeString(item.title);
          return (
            <form action={`/versus/post/${slug}`} method="post">
              <input type="hidden" name="title" value={item.title} />
              <input type="hidden" name="image" value={item.image.medium} />
              <input type="hidden" name="count" value={index} />
              <button type="submit" class="w-full text-left">
               
                <div class=`card-${index} card bg-white shadow rounded`>
                  <img src={item.image.medium} alt={item.title} />
                  <div class="badge">{item.category.name}</div>
                  <div class="card-content">
                    <p class="font-bold text-gray-800">{item.title}</p>
                  </div>
                </div>

              </button>
            </form>
          );
        })
      }
    </div>
  </div>
</LayoutVersus>
